---
title: "Creating a level playing field for data access in the Mobility as a Service ecosystem"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Pieter Colpaert', 'https://pietercolpaert.be/', 'https://pietercolpaert.be/#me' %>
- <%= person 'Julián Andrés Rojas Meléndez', 'https://telefoonboek.ugent.be/en/people/802002620753', 'https://orcid.org/0000-0002-6645-1264' %>
- <%= person 'Paul Theyskens', 'https://www.linkedin.com/in/paultheyskens/', '#paul' %>
- <%= person 'Harm Delva', 'https://telefoonboek.ugent.be/en/people/802002413821', 'https://orcid.org/0000-0001-8272-0754' %>
- <%= person 'Brecht Van de Vyvere', 'https://brechtvdv.github.io/', 'https://w3id.org/people/brechtvdv/#me' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:#affiliations}
- {:#idlab} IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec

<%= section 'abstract' %>
</header>
<section class="context" markdown="block">
## This is a position paper in reply to
- [W3C Workshop on Data Models for Transportation](https://www.w3.org/auto/events/data-ws-2019/cfp){:rel="as:inReplyTo"}
</section>

<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section 'paper'  %>
</main>

<footer>Thank you to the Smart Mobility Belgium fund and the <a href="https://openplanner.team">Open Planner Team</a>.</footer>
